body{
    /* border: 4px outset rgb(154, 63, 187); */
    background: linear-gradient(rgb(20, 160, 236), rgb(101, 1, 81),  rgb(26, 0, 35)) ;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    width: 1170px;
    max-width: 100%;
    max-height: auto;
    margin: 0 auto;
    
}
.autorization_forms{
    min-width: 250px;
    max-width: 400px;
    height: 400px;
    background-color: #2125293f;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    padding: 25px 20px;
}
*{
    box-sizing: border-box;
    color: aliceblue;
    font-size: 16px;

}
input{
 font-family: inherit;
 font-size: inherit;
 line-height: inherit;
 margin: 0;
}
.text_field{
    margin-bottom: 1rem;
}
.text-field__label{
    display: block;
    margin-bottom: 0.25rem;
}
.text-field__input{
    display: block;
    width: 100%;
    height: calc(2.25rem+2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: rgba(255, 255, 255, 0.189);
    background-clip: padding-box;
    border: 1px solid #bdbdbd54;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-i;

}
.text-field__input::placeholder{
    color: #212529;
    opacity: 0.4;
}
.text-field__input:focus{
    color: #212529;
    background-color: rgba(255, 255, 255, 0.367);
    border-color: #bdbdbd77;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
.wrapper{
    background: inherit;
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    background-color: #90bfef3f;
}


.wrapper:before {
    
    content: '';
    background: inherit;
    height: 370px;
    width: 650px;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
    filter: blur(10px);
    border-radius: 15px;
}
.text-field__btn{
    display: block;
    width: 100%;
    height: calc(2.25rem+2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: rgba(255, 255, 255, 0.314);
    background-clip: padding-box;
    border: 1px solid #bdbdbd5e;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-i;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
    border: none;
}
.text-field__btn:focus{
    color: #212529;
    background-color: rgba(255, 255, 255, 0.468);
    border-color: #bdbdbd85;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}